<div class="user-profile">
  <div class="list">
    <div class="user-image">
      <!-- Asegúrate de que 'path_to_default_user_image.jpg' sea la ruta correcta de la imagen en tu directorio de assets -->
       <img src="path_to_default_user_image.jpg" alt="User Image">
    </div>
    <div class="user-container">
      <div class="user-name">
        <%= @user.name %>
        <!-- Usa 'size' para obtener el número de posts desde la asociación cargada -->
        <p class="post-count">Number of posts: <%= @user.posts.size %></p>
      </div>
    </div>
  </div>
  
  <div class="user-bio">
    <h1>Bio</h1>
    <%= @user.bio %> 
  </div>

  <% @user.three_most_recent_posts.each do |post| %> 
    <div class="user-bio">
      <div class="post-summary">
        <h3 class="post-title"><%= post.title %></h3>
        <%= post.text %>
        <!-- Usa 'size' también aquí para los comentarios -->
        <p class="post-count">Number of comments: <%= post.comments.size %></p>
        <p class="post-count">Number of likes: <%= post.likes_counter %></p> 
        <p><%= link_to 'Read Post', post_path(post) %></p> 
      </div>
    </div>
  <% end %>
  
  <div class="create-post-button">
    <%= link_to 'Create New Post', new_user_post_path(user_id: @user.id) %>
  </div>
  
  <div class="user-all-posts-button">
    <%= link_to 'See all posts', user_posts_path(@user), class: "button" %>
  </div>
</div>

<%= link_to 'Back', request.referer || root_path %>
