<div class="user-profile">
  <div class="list">
    <div class="user-image">
      <img src="path_to_default_user_image.jpg" alt="User Image">
    </div>
    <div class="user-container">
      <div class="user-name">
        <%= @user.name %>
        <p class="post-count">Number of posts: <%= @user.posts.count %></p>
      </div>
    </div>
  </div>

  <%= link_to 'New Post', new_user_post_path(@user) %>

  <ul>
  <% @posts.each do |post| %>
    <li id="post_<%= post.id %>" class="user-bio">
      <%= link_to post.title, post_path(post) %>
      <p><%= post.text %></p> 
      <p class="post-count">Number of comments: <%= post.comments.size %></p>
      <p class="post-count">Number of likes: <%= post.likes_counter %></p> 

      <div class="user-bio">
        <h3>Comments</h3>
        <ul>
          <% post.recent_comments.each do |comment| %>
            <li>
              <strong><%= comment.user.name %>:</strong>
              <p><%= comment.text %></p>
            </li>
          <% end %>
        </ul>
      </div>
    </li>
  <% end %>
</ul>


  <%= link_to 'Back to Users', users_path, class: "btn btn-secondary" %>

</div>
