<!DOCTYPE html>
<html>
<head>
  <title>Blog App</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>

<header class="welcome-header">
  <h1>WELCOME TO BLOG APP, made by Luis</h1>
</header>

<!--<div class="auth-links">
  <% if user_signed_in? %>
    <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "auth-button" %>
  <% else %>
    <%= link_to 'Login', new_user_session_path, class: "auth-link" %> |
    <%= link_to 'Sign up', new_user_registration_path, class: "auth-link" %>
  <% end %>
</div>-->

<%= yield %>

</body>
</html>
